<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="S3 Explorer"
      Manufacturer="project-base-mirror"
      Version="$(ProductVersion)"
      Language="2052"
      Codepage="936"
      Scope="perMachine"
      UpgradeCode="A4A79148-53A1-4EAB-ADE4-B496E9641BB4">
    <SummaryInformation Description="S3 Explorer Windows object storage manager" />
    <MajorUpgrade DowngradeErrorMessage="已安装更高版本的 S3 Explorer。" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPURLINFOABOUT" Value="https://project-base-mirror.github.io/tool-storage-browser/" />
    <Property Id="ARPHELPLINK" Value="https://github.com/project-base-mirror/tool-storage-browser/issues/new/choose" />
    <Property Id="MsiLogging" Value="voicewarmup" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="S3ExplorerIcon.exe" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="如果安装失败，可在系统临时目录中查找最新的 MSI*.log 安装日志。" />

    <Icon Id="S3ExplorerIcon.exe" SourceFile="$(ApplicationIconPath)" />

    <UI Id="S3ExplorerInstallDirUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Dialog Id="S3ExplorerInstallDirDlg" Width="370" Height="270" Title="S3 Explorer 安装位置">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="300" Height="15" Transparent="yes" NoPrefix="yes" Text="选择安装目录和快捷方式选项。" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="220" Height="15" Transparent="yes" NoPrefix="yes" Text="安装 S3 Explorer" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="373" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="373" Height="0" />

        <Control Id="FolderLabel" Type="Text" X="20" Y="62" Width="320" Height="18" NoPrefix="yes" Text="S3 Explorer 将安装到以下文件夹：" />
        <Control Id="Folder" Type="PathEdit" X="20" Y="86" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes" />
        <Control Id="ChangeFolder" Type="PushButton" X="20" Y="110" Width="78" Height="18" Text="更改文件夹..." />
        <Control Id="DesktopShortcut" Type="CheckBox" X="20" Y="151" Width="300" Height="18" Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1" Text="创建桌面快捷方式" />
        <Control Id="PackageHint" Type="Text" X="20" Y="181" Width="320" Height="32" NoPrefix="yes" Text="安装器会部署完整程序文件。便携版 ZIP 不受此设置影响。" />
      </Dialog>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="S3ExplorerInstallDirDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="Next" Event="CheckTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="2" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="S3ExplorerInstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="CheckTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="S3ExplorerInstallDirDlg" Order="1" Condition="NOT Installed" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" Condition="Installed AND PATCH" />
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />
      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="APPLICATIONFOLDER" Name="S3 Explorer">
        <Component Id="ApplicationFiles" Guid="*">
          <File Id="S3ExplorerExe" Source="$(PayloadDir)\S3Explorer.exe" KeyPath="yes">
            <Shortcut
                Id="StartMenuShortcut"
                Directory="ApplicationProgramsFolder"
                Name="S3 Explorer"
                Description="S3 与 S3-compatible 对象存储管理工具"
                WorkingDirectory="APPLICATIONFOLDER"
                Icon="S3ExplorerIcon.exe"
                Advertise="yes" />
          </File>
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        </Component>
        <Component Id="CliFiles" Guid="*">
          <File Id="S3ExplorerCliExe" Source="$(PayloadDir)\s3explorer-cli.exe" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="S3 Explorer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*" Condition="INSTALLDESKTOPSHORTCUT = 1">
        <Shortcut
            Id="DesktopShortcut"
            Name="S3 Explorer"
            Description="S3 与 S3-compatible 对象存储管理工具"
            Target="[APPLICATIONFOLDER]S3Explorer.exe"
            WorkingDirectory="APPLICATIONFOLDER"
            Icon="S3ExplorerIcon.exe" />
        <RegistryValue
            Root="HKCU"
            Key="Software\project-base-mirror\S3 Explorer"
            Name="DesktopShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="S3 Explorer 主程序" Level="1" AllowAbsent="no">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="CliFiles" />
    </Feature>
    <Feature Id="DesktopShortcutFeature" Title="桌面快捷方式" Level="1" AllowAbsent="no">
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>
</Wix>
