<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
      Name="S3 Explorer"
      Manufacturer="project-base-mirror"
      Version="$(ProductVersion)"
      Language="2052"
      Codepage="936"
      Scope="perMachine"
      UpgradeCode="A4A79148-53A1-4EAB-ADE4-B496E9641BB4">
    <SummaryInformation Description="S3 Explorer Windows object storage manager" />
    <MajorUpgrade DowngradeErrorMessage="已安装更高版本的 S3 Explorer。" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ARPURLINFOABOUT" Value="https://project-base-mirror.github.io/tool-storage-browser/" />
    <Property Id="ARPHELPLINK" Value="https://github.com/project-base-mirror/tool-storage-browser/issues/new/choose" />
    <Property Id="MsiLogging" Value="voicewarmup" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ApplicationFolderName" Value="S3 Explorer" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="如果安装失败，可在系统临时目录中查找最新的 MSI*.log 安装日志。" />

    <ui:WixUI Id="WixUI_Advanced" />
    <WixVariable Id="override WixUISupportPerUser" Value="0" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="APPLICATIONFOLDER" Name="S3 Explorer">
        <Component Id="ApplicationFiles" Guid="*">
          <File Id="S3ExplorerExe" Source="$(PayloadDir)\S3Explorer.exe" KeyPath="yes">
            <Shortcut
                Id="StartMenuShortcut"
                Directory="ApplicationProgramsFolder"
                Name="S3 Explorer"
                Description="S3 与 S3-compatible 对象存储管理工具"
                WorkingDirectory="APPLICATIONFOLDER"
                Advertise="yes" />
          </File>
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        </Component>
        <Component Id="CliFiles" Guid="*">
          <File Id="S3ExplorerCliExe" Source="$(PayloadDir)\s3explorer-cli.exe" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="S3 Explorer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*">
        <Shortcut
            Id="DesktopShortcut"
            Name="S3 Explorer"
            Description="S3 与 S3-compatible 对象存储管理工具"
            Target="[APPLICATIONFOLDER]S3Explorer.exe"
            WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue
            Root="HKCU"
            Key="Software\project-base-mirror\S3 Explorer"
            Name="DesktopShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="S3 Explorer 主程序" Level="1" AllowAbsent="no">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="CliFiles" />
    </Feature>
    <Feature
        Id="DesktopShortcutFeature"
        Title="桌面快捷方式"
        Description="在桌面创建 S3 Explorer 快捷方式"
        Level="1"
        AllowAbsent="yes">
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>
</Wix>
